.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
        list-style: none;
    
        a {
            display: inline-block;
            filter: invert(1);
            margin: 5px 0;
            transform: scale(0.6);
        }
    }
}